html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    height: 100%;
    background-color: white;
}

.row {
    height: 100%;
}

#mainContainer {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 50px;
}

#configDiv {
    padding-top: 10%;
}

#configure {
    height: 100%;
}

#players, #warewolf{
    width: 30%;
    margin: 25px auto;
}

#players .ui-slider-range {
    background: #2c3e50;
}

#players .ui-slider-handle {
    border-color: #2c3e50;
}

#warewolf .ui-slider-range {
    background: #c0392b;
}

#warewolf .ui-slider-handle {
    border-color: #c0392b;
}

#playersRow, #warewolfRow{
    width: 100%;
    margin: 0;
    padding: 0;
}

#playersLabel, #warewolfLabel{
    margin: 20px auto;
    text-align: center;
    text-align: right;
}

#playersLabel {
    color: #2c3e50;
}

#warewolfLabel {
    color: #c0392b;
}

#playersValue, #warewolfValue{
    margin: 15px 0;
    width: 55px;
    text-align: center;
}

#spinStateBtns {
    text-align: center;
}

#spinStateBtns button{
    display: inline-block;
    margin: 10px;
    width: 100px;
}
